@import '../../App.scss';

.cardDetails{
    margin: 1rem;
    h2{
        @include Header;
        color: $RavenBlack;
    }
    li{
        border-bottom: solid 1px  $TextLight;
        list-style-type: none;
        padding: 1rem;
        @include direccionFlex(row);
            .cardDetailKey{
                @include Header;
                color: $TextLight
            }
            .cardDetailValue{
                @include Header;
                color: $TextDark;
            }
    }

}
