@import '../../App.scss';

.registry {
 width: 20%;
 margin-left: 1rem;
 border-right: solid 1px  $TextLight;
 overflow:scroll;
 max-height: 100vh;

}
// .lodingWrapper{
//     display: flex;
//     flex-direction: row;
//     height: 100px;
//     align-items: center;
//     padding-left: 30%;
//     color: $TextDark;
//     img {
      
//        margin-right: 5px;
//     //    margin: 3px;
//     }
// }