@import '../../App.scss';

 
  .nav-app {
    background-color: $RavenBlack;
    height: 3rem;
    // min-height: 10vh;
    h2{
      @include Header;
      padding: 1rem;
      font-size: 1rem;
      color: white;
    }
    
  }