$RavenBlack: #121212;
$TextDark: #333333;
$TextLight:#828282;
$TextEnphasis:#EC7557;

$breakpoint-desktop: 768px;
$title: American Typewriter;
*{
  margin: 0;
  padding: 0;
}

@mixin direccionFlex ($direccion) {
  display: flex;
  justify-content: space-between;
  flex-direction: $direccion;
}
@mixin Header {
  //styleName: Header;
  font-family: SF Pro Display;
  font-size: 17px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.0125em;
  text-align: left;
}
@mixin Paragraph {
  //styleName: Paragraph;
font-family: SF Pro Display;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 17px;
letter-spacing: 0.0125em;
text-align: left;

}
.mainBoard{
@include direccionFlex(row)
}

/* .nav-app {
  text-align: center;
}

.nav-app {
  height: 10vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
 
} */

/* .nav-app {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* 
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
