$baseColor: #e0b61f;
$baseColor-2: #9d2b16;
$baseColor-3:#9d5716;
$baseColor-4:white;
$loginBtn: #e03e1f;
$addBtn: #e06f1f;
$breakpoint-desktop: 768px;
$title: American Typewriter;

@mixin direccionFlex ($direccion) {
  display: flex;
  align-content: space-between;
  flex-direction: $direccion;
}


/* .nav-app {
  text-align: center;
}

.nav-app {
  height: 10vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
 
} */

/* .nav-app {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* 
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
